<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de Estudiante</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/estudiantes">Lista de Estudiantes</a></h3>
            <h1>Detalle de Estudiante</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>{{ estudiante.nombre }}</td>
                    </tr>
                    <tr>
                        <td>Codigo</td>
                        <td>{{ estudiante.codigo }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ estudiante.correo }}</td>
                    </tr>
                    <tr>
                        <td>Edad</td>
                        <td>{{ usuario.edad }}</td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </body>
</html>
